<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<!--<center>-->
    <!--<h1> XMixer Max </h1>-->
<!--</center>-->
<body style="background: bisque">
<!--<body style="background: url({{ url_for('static', filename='website_background.jpg')}}")>-->
    <form action="" method='POST'>
        <center>
            <h1> XMixer Max User Interface </h1>
            <h5> Version 0.1 </h5>
        </center>
        <center>
            <form action="" method='POST'>
                Raw Drink No.1:
                <input type="text" name="Raw Drink No.1" align="middle" value="0"/>
                <i> mL </i><br>
                <br>
                Raw Drink No.2:
                <input type="text" placeholder="Raw Drink No.2" name="Raw Drink No.2" value="0"/>
                <i> mL </i><br>
                <br>
                Raw Drink No.3:
                <input type="text" placeholder="Raw Drink No.3" name="Raw Drink No.3" value="0"/>
                <i> mL </i><br>
                <br>
                Raw Drink No.4:
                <input type="text" placeholder="Raw Drink No.4" name="Raw Drink No.4" value ="0">
                <i> mL </i><br>
                <br>
                <input type="submit" value="Mix!" name="submit"/>
            </form>
        </center>
    </form>
</body>
</html>